# frozen_string_literal: true

class <%= controller_class_name %> < ApplicationController
  def new
    @<%= singular_name %> = <%= class_name %>.new
<% reference_attributes.each do |attribute| -%>
    @<%= reference_collection_name(attribute) %> = <%= reference_model_name(attribute) %>.all
<% end -%>
  end
end
